body {
  margin: 0;
}

.home-container {
  height: calc(100vh - 70px); /* Adjust 70px to match your navbar height */
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Vertical center */
  align-items: center;       /* Horizontal center */
  text-align: center;
}

.home-container h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.home-container p {
  font-size: 25px;
}